body {
  background-color: #edecec;
}

.custom-bg-color {
  background-color: #687098;
}

#about-me {
  text-align: center;
}

#bio-image {
  width: 100px;
  height: 300px;
  margin-bottom: 20px;

}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  #bio-image {
    width: 145px;
    height: 200px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #bio-image {
    width: 200px;
    height: 300px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  #bio-image {
    width: 255px;
    height: 400px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  #bio-image {
    width: 300px;
    height: 450px;
  }
 }