body {
  background-color: #A09ABB;
  text-align: center;
}

a {
  color: #F1B2AD;
}

a:hover {
  color: #EB968E;
}
.custom-bg-color {
  background-color: #687098;
}

.title {
  font-size: 38px;
  word-spacing: 10px;
  letter-spacing: .050em;
  margin: 5px;
}

.subtitle {
  color: #5B5771;
  font-size: 22px;
  word-spacing: 5px;
  padding-bottom: 10px;
  margin-top: 5px;
  font-weight: light;
}

.nav-link {
  color: #5B5771
}

.float {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

.bio-text {
  line-height: 1.5;
  font-size: 20px;
  color: #5B5771;
  text-align: left;
}

.est {
  font-size: 16px;
  word-spacing: 5px;
  color: #5B5771;
}

footer {
  clear: both;
  padding: 10px;
  margin-top: 10px;
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .float {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
  }
  
  .bio-text {
    line-height: 1.5;
    font-size: 20px;
    color: #5B5771;
    text-align: left;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .float {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }

  .bio-text {
    line-height: 1.5;
    font-size: 20px;
    color: #5B5771;
    text-align: left;
  }

 }

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

  .float {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }

  .bio-text {
    line-height: 1.5;
    font-size: 20px;
    color: #5B5771;
    text-align: left;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

  .float {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }

  .bio-text {
    line-height: 1.5;
    font-size: 20px;
    color: #5B5771;
    text-align: left;
  }

 }

 .clearfix::after {
  content: '';
  display: block;
  clear: both;
}